.layoutflow {
  flex-grow: 1;
  position: relative;
}

.layoutflow .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.touchdevice-flow .react-flow__handle {
  width: 10px !important;
  height: 10px !important;
  border-color: #000 !important;
  border-radius: 10px !important;
  background-color: #fff !important;
}

/* .touchdevice-flow .react-flow__handle.connecting {
  animation: bounce 1600ms infinite ease-out;
} */
/* @keyframes bounce {
  0% {
    transform: translate(0, -50%) scale(1);
  }
  50% {
    transform: translate(0, -50%) scale(1.1);
  }
} */
